body {
    margin: 0;
    width: 100%;
    padding-top: 50px;
    text-align: center;
    image-orientation: center;
    background-color: gold;
}

.profile {
    float: right;
    border-radius: 30%;
}

#home {
    position: absolute;
    height: 100%;
    color: #FFFFFF;
    bottom: 0;
    z-index: 9;
    align-content: center;
    padding-right: 1700px;
    padding-left: 0px;

}

h1 {
    font-size: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#name {
    font-size: 50px;
    line-height: 1.2;
    font-family: 'RocknRoll One', sans-serif;
}

h2 {
    font-size: 30px;
    font-weight: 300;
    font-family: 'Cinzel', serif;
}

center {
    margin-top: 200px;
    padding-left: 320px;
    margin-left: 320px;
}

h1 {
    margin-top: 0px;
    padding-left: 20px;
    margin-left: 50px;
}



.parallax-inner {
    display: table-cell;
    position: relative;
    text-align: center;
    vertical-align: middle;
}
.menu {
    position: fixed;
    background-color: sandybrown;
    width: 100%;
    margin-top: 0px;
    top: 0px;
    z-index: 10;
}

.links{
    float:left;
    padding-left: 30px;
    padding-right: 25px;
    padding-bottom: 5px;
font-family: 'RocknRoll One', sans-serif;
    font-size: 20px;
    display: inline;
    
}
.links:hover{
   font-size: 25px; 
    text-decoration: underline;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: crimson;
    text-shadow: 2px 2px gainsboro;
}

* {
    box-sizing: border-box;
}

body {

    margin: 0;
    font-family: Arial;
}


.rows {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 40px;
    margin-top: 400px;
    padding-left: 30px;
    margin-left: 25px;
}

/* Create four equal columns that sits next to each other */
.column {
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
